/* ========================= */
/* RESET.CSS */
/* ========================= */

/* Remove Default Margin & Padding */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* Smooth Scrolling */

html{
    scroll-behavior:smooth;
}

/* Body */

body{
    min-height:100vh;
    line-height:1.5;
    text-rendering:optimizeSpeed;
    -webkit-font-smoothing:antialiased;
}

/* Images */

img,
picture{
    max-width:100%;
    display:block;
}

/* Links */

a{
    text-decoration:none;
    color:inherit;
}

/* Lists */

ul,
ol{
    list-style:none;
}

/* Form Elements */

input,
button,
textarea,
select{
    font:inherit;
    border:none;
    outline:none;
    background:none;
}

/* Buttons */

button{
    cursor:pointer;
}

/* Tables */

table{
    border-collapse:collapse;
    border-spacing:0;
}

/* Headings */

h1,
h2,
h3,
h4,
h5,
h6{
    font-weight:inherit;
}

/* Paragraphs */

p{
    overflow-wrap:break-word;
}

/* Textarea */

textarea{
    resize:vertical;
}

/* Horizontal Rule */

hr{
    border:none;
}

/* Iframe */

iframe{
    border:0;
}

/* Remove Default Focus Outline */

:focus{
    outline:none;
}
